[submodule "ext/hl-idl"]
	path = ext/hl-idl
	url = https://github.com/onehundredfeet/hl-idl.git
[submodule "ext/box2d"]
	path = ext/box2d
	url = https://github.com/onehundredfeet/box2d.git
[submodule "ext/enkiTS"]
	path = ext/enkiTS
	url = https://github.com/dougbinks/enkiTS.git
[submodule "ext/cpptrace"]
	path = ext/cpptrace
	url = https://github.com/jeremy-rifkin/cpptrace.git
